@import 'base/var';
@import 'base/bootstrap-config';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import 'base/defaults';

@import 'module/btn';
@import 'module/navbar';

#intro {
    background: $beige;
    padding-top: $navbar-height;

    @media (min-width: $screen-sm) {
        padding-top: 80px;
    }
}
