/* ==========================================================================
   Defaults
   ========================================================================== */

a {
    color: $gray-darker;
    text-decoration: underline;

    &:focus,
    &:hover {
        color: $gray-dark;
    }
    &:active {
        color: $gray;
    }
}
b,
strong {
    font-weight: 500;
}

html {
    font-weight: 300;
}

img {
    max-width: 100%;
}

picture {
    display: block;
}
