/* ==========================================================================
   Home Features
   ========================================================================== */

.home-features {

}

/* Sections
   ========================================================================== */

%home-features__section {
    margin: 0 0 2rem;

    .icon {
        background: $beige-light;
        border-radius: 50%;
        display: block;
        height: 8rem;
        margin: 0 auto 1rem;
        position: relative;
        width: 8rem;

        &:before {
            background: url(../images/sprite.png) no-repeat;
            content: '';
            display: block;
            height: 40px;
            left: 50%;
            margin: -20px 0 0 -20px;
            position: absolute;
            top: 50%;
            width: 40px;

            @media #{$retina} {
                background-image: url(../images/sprite@2x.png);
                background-size: 240px auto;
            }
            @media #{$super-retina} {
                background-image: url(../images/sprite@3x.png);
            }
        }
    }
    h2 {
        font-size: $font-size-h3;
        margin: 0 0 .25em;
    }
    p {
        margin: 0;

    }

    @media (min-width: $screen-xs) {
        .icon {
            float: left;
            margin-bottom: 0;
        }
        h2,
        p {
            padding-left: 10rem;
        }
        h2 {
            font-size: $font-size-h2;
        }
        p {
            font-size: $font-size-h3;
        }
    }
    @media (min-width: $screen-sm) {
        margin-bottom: 3rem;

        &:nth-of-type(odd) {
            clear: left;
        }

        .icon {
            float: none;
            height: 10rem;
            margin-bottom: 2rem;
            width: 10rem;
        }
        h2,
        p {
            padding-left: 0;
        }
    }
    @media (min-width: $screen-md) {
        margin-bottom: 4rem;

        &:nth-of-type(odd) {
            clear: none;
        }
        &:nth-of-type(3n + 1) {
            clear: left;
        }

        h2 {
            //margin-bottom: .5em;
        }
    }
    @media (min-width: $screen-lg) {
        .icon {
            height: 12rem;
            width: 12rem;
        }
    }
}

.home-features__section--responsive,
.home-features__section--work,
.home-features__section--design,
.home-features__section--testimonials,
.home-features__section--callouts,
.home-features__section--code {
    @extend %home-features__section;
}
.home-features__section--work .icon:before {
    background-position: -40px 0;
}
.home-features__section--design .icon:before {
    background-position: -80px 0;
}
.home-features__section--testimonials .icon:before {
    background-position: -120px 0;
}
.home-features__section--callouts .icon:before {
    background-position: -160px 0;
}
.home-features__section--code .icon:before {
    background-position: -200px 0;
}
