/* ==========================================================================
   Home Intro
   ========================================================================== */

.home-intro {
    background: $beige;
    padding-top: 6rem;
    padding-bottom: 2rem;
    text-align: center;

    h1 {
        font-size: 28px;
        font-weight: 500;
        margin: 0 0 .25em;
    }
    h2 {
        font-weight: 300;
        font-size: $font-size-base;
        line-height: $line-height-base;
        margin: 0 0 2rem;
    }
    img {
        display: block;
        margin: 0 auto;
    }

    @media (min-width: $screen-xs) {
        padding-top: 8rem;
        padding-bottom: 4rem;

        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: $font-size-h3;
            margin-bottom: 4rem;
        }
    }
    @media (min-width: $screen-sm) {
        padding-top: 14rem;
        padding-bottom: 6rem;

        h1 {
            font-size: 48px;
        }
        h2 {
            font-size: $font-size-h2;
            margin-bottom: 6rem;
        }
        img {
            width: 83.33%;
        }
    }
    @media (min-width: $screen-md) {
        padding-top: 16rem;
        padding-bottom: 8rem;

        h1 {
            font-size: 56px;
        }
        h2 {
            font-size: $font-size-h1;
            margin-bottom: 8rem;
        }
    }
    @media (min-width: $screen-lg) {
        padding-top: 18rem;
        padding-bottom: 10rem;

        h1 {
            font-size: 60px;
        }
        h2 {
            margin-bottom: 10rem;
        }
        img {
            width: 75%;
        }
    }
}
.home-intro__buttons {
    font-size: 0;
    margin-top: 2rem;

    .btn + .btn {
        margin-left: .5rem;
    }

    @media (min-width: $screen-xs) {
        margin-top: 4rem;

        .btn + .btn {
            margin-left: 1rem;
        }
    }
    @media (min-width: $screen-sm) {
        margin-top: 6rem;

        .btn + .btn {
            margin-left: 2rem;
        }
    }
    @media (min-width: $screen-lg) {
        margin-top: 8rem;
    }
}
