/* ==========================================================================
   Home Docs
   ========================================================================== */

.home-docs {
    .text-muted {
        color: $gray-light;
        font-size: $font-size-h5;
        line-height: $headings-line-height;
        margin: 1rem 0 0;

        a {
            color: inherit;
            word-break: break-all;

            &:focus,
            &:hover {
                color: $gray-dark;
            }
            &:active {
                color: $gray-darker;
            }
        }

        @media (min-width: $screen-xs) {
            padding-left: 0;
        }
        @media (min-width: $screen-sm) {
            margin-top: 2rem;
        }
    }
}

.home-docs__section--getting-started,
.home-docs__section--documentation,
.home-docs__section--support {
    margin-bottom: 3rem;

    @media (min-width: $screen-sm) {
        margin-bottom: 0;
    }

    h2,
    p {
        @media (min-width: $screen-xs) {
            padding-left: 10rem;
        }
        @media (min-width: $screen-sm) {
            padding-left: 0;
        }
    }
}

// Icons
.home-docs__section--getting-started .icon:before {
    background-position: -240px 0;
}
.home-docs__section--documentation .icon:before {
    background-position: -280px 0;
}
.home-docs__section--support .icon:before {
    background-position: -320px 0;
}

// Buttons
.home-dogs__button-wrapper {
    margin: 0;
    text-align: center;

    @media (min-width: $screen-xs) {
        text-align: left;
    }
    @media (min-width: $screen-sm) {
        margin-top: 2rem;
        text-align: center;
    }
}
