/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar {
    border: none;

    a {
        text-decoration: none;
    }

    @media (min-width: $screen-sm) {
        min-height: 80px;
    }
}
.navbar-brand {
    font-size: $font-size-base;
    font-weight: $headings-font-weight;
    letter-spacing: .125ex;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
        height: 80px;
        line-height: 60px;
    }
}

// Toggle
.navbar-toggle {
    border: none;

    .icon-bar {
        border-radius: 0;
        height: 3px;
        width: 24px;
    }
    .icon-bar + .icon-bar {
        margin-top: 3px;
    }
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    .icon-bar {
        background: $gray-darker;
    }
}

.navbar-collapse {
    border: none;
    box-shadow: none;
}
.navbar-nav {
    @media (min-width: $screen-sm) {
        > li > a {
            line-height: 60px;
            transition:
                background 125ms ease-in-out,
                color 125ms ease-in-out;
        }
        > li.demo {
            margin: 22px ($grid-gutter-width / 2) 0 10px;
            padding: 0;

            > a {
                background: $gray-light;
                border-radius: $border-radius-base;
                color: $beige-light;
                line-height: $line-height-base;
                padding: $padding-base-vertical $padding-base-horizontal;
                transition: none;

                &:focus,
                &:hover {
                    color: $white;
                    background: $gray-darker;
                }
            }
        }
    }
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    @media (min-width: $screen-sm) {
        background: $gray;
        background: rgba($gray-darker, .25);
        color: $white;
    }
}

/* State
   ========================================================================== */

.js {
    @media (min-width: $screen-sm) {
        .navbar-default {
            background: rgba($beige-light, 0);
            transition: background 500ms ease-in-out;
        }
        .is-scrolled.navbar-default {
            background: $beige-light;
            background: rgba($beige-light, .85);
        }
    }
}
