/* ==========================================================================
   Site Footer
   ========================================================================== */

.site__footer {
    background: $beige-light;
    padding-top: 2rem;
    padding-bottom: 2rem;

    small {
        display: block;
        text-align: right;
    }
}
